<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tt/loading_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{117,640},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>me.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{433,637}</string>
                <key>spriteSourceSize</key>
                <string>{639,639}</string>
                <key>textureRect</key>
                <string>{{1,1},{433,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meitu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,27}</string>
                <key>spriteSize</key>
                <string>{82,114}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,640},{82,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>example_v3.png</string>
            <key>size</key>
            <string>{435,723}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e5e50800cb708b349242dfcb65f4850:8c2edaece130755ff375fbd69400c454:5246d9be13f708e02d36faec0abff7f8$</string>
            <key>textureFileName</key>
            <string>example_v3.png</string>
        </dict>
    </dict>
</plist>
